<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label>Titulo</label>
            <input type="text" name="Titulo" class="form-control" value="@Model.Titulo" readonly />
        </div>
        <div class="form-group">
            <label>Contenido</label>
            <textarea name="Contenido" class="form-control" readonly>@Model.Contenido</textarea>
        </div>
        <div class="form-group">
            <label>Ultima fecha de modificacion</label>
            <input type="datetime" class="form-control" value="@Model.UltimaModificacion" readonly />
        </div>
        <div class="form-group">
            <label>Etiquetas</label>
            <ul class="list-group">
                @foreach (var etiquetaNota in Model.EtiquetaNotas)
                {
                    <li class="list-group-item">@etiquetaNota.Etiqueta.Nombre</li>
                }
            </ul>
        </div>
    </div>
</div>