<div class="row">
    <div class="col-12">
        <form action="/nota/editar/@Model.Id" method="post">
            <div class="form-group">
                <label>Titulo</label>
                <input type="text" name="Titulo" class="form-control" value="@Model.Titulo" autocomplete="off" />
            </div>
            <div class="form-group">
                <label>Contenido</label>
                <textarea name="Contenido" class="form-control">@Model.Contenido</textarea>
            </div>
            <div class="form-group">
                <label>Etiquetas</label>
                <select class="form-select" multiple name="Etiquetas">
                    @foreach (var etiqueta in ViewBag.Etiquetas)
                    {
                        <option value="@etiqueta.Id">@etiqueta.Nombre</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>