<div class="row">
    <div class="col-12">
        <form action="/etiqueta/registrar" method="post">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" name="Nombre" class="form-control" autocomplete="off" />
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>